<!DOCTYPE html>
<html >
    <title>Angularjs Application of FULLname</title>
<head>
   <script type="text/javascript" 
   src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"> 
</script>
<script>
    var app=angular.module("myApp",[]);
    app.controller("myCntrl",function($scope){
        $scope.firstName=''
        $scope.lastName=''

    });
</script>
</head>
<body ng-app="myApp">
    <h1>AngularJS application to display Full Name :</h1>
    <div ng-controller="myCntrl">
        Enter the First name:<input type="text" ng-model="firstName"> <br>
        Enter the last name: <input type="text" ng-model="lastName"> <br>
        Full Name: {{ firstName +" "+ lastName }}

    </div> 
</body>
</html>


